@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Open+Sans:wght@400;700&family=Stardos+Stencil:wght@400;700&display=swap');

.bg-dark {
  background-color: #101621;
}

img {
  width: 100%;
  height: auto;
}

.socialmedia_btn {
  width: 4%;
  margin: 6px 2px;
}
.teamlogo {
  /*TW*/
  width: 24%;
  /*EN*/
  /* width: 25%; */
  max-width: 400px;
  padding: 10px;
}

@media (max-width:751px) {
  .socialmedia_btn {
    width: 8%/750*100%+vw;
  }
}


@media (max-width:426px) {

  .socialmedia {
    padding-bottom: 10px;
  }

  .teamlogo {
    width: 60%;
  }

  .socialmedia_btn {
    width: 12%;
  }
}