.bg-dark {
  background-color: #101621;
}

/* img {
  width: 100%;
  height: auto;
} */

.socialmedia_btn {
  width: 4%;
  margin: 6px 2px;
}
.teamlogo {
  /*TW*/
  width: 24%;
  /*EN*/
  /* width: 25%; */
  max-width: 400px;
  padding: 10px;
}

@media (max-width:770px) {
  .teamlogo {
    width: 60%;
  }
  .socialmedia_btn {
    width: 8%;
  }
}


@media (max-width:426px) {

  .socialmedia {
    padding-bottom: 10px;
  }

  .teamlogo {
    width: 60%;
  }

  .socialmedia_btn {
    width: 12%;
  }
}